Good day <%= @@user_name %>,

Thanks for signing to Pics App. in order to validate your account you need to complete your registration following the next link.

<a href="http://localhost:4567/completeregister">Complete your Registration!</a>

Pics App Adim